.title{
    color: red;
}
#fu{
    font-size: 34px;
}
.card{
    box-shadow: 3px 3px 3px black;
    width: 700px;
    padding: 20px;
    display: flex;
}
.image{
    width: 400px;
}
.tour-card-grid{
    background: white;
    max-width: 32%;
    box-shadow: 20px 3px black;
}